.carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 900px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 5px 20px 0 #505050;
  height: 400px;
}
.carousel-inner {
  white-space: nowrap;
  transition: ease 1s;
}
.carousel-item {
  display: inline-block;
  width: 100%;
}
.carousel-item img {
  width: 100%;
  object-fit: contain;
}
.carousel-control {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 70px;
  top: calc(50% - 25px);
  color: #f3f3f3;
  cursor: pointer;
}
.left {
  left: 0;
  border-radius: 0 20px 20px 0;
}
.right {
  right: 0;
  border-radius: 20px 0 0 20px;
}
.carousel-indicators {
  position: absolute;
  left: 3%;
  bottom: 1em;
  z-index: 2;
}
.carousel-indicator-item {
  width: 15px;
  height: 5px;
  border: none;
  background: #fff;
  opacity: 0.5;
  margin: 0.2em;
  border-radius: 10px;
  cursor: pointer;
}
.active {
  opacity: 1;
}
